body {
    background-color:#f2f2f2;
    font-family: 'Lato', sans-serif;
}

.navbar {
    position: fixed;
    height: 15vh;
    width: 90%;
    margin-left: 30px;
    margin-right: 30px;
    top: 10px;
}

hr {
    border: 0.5px solid #333333;
    background-color: #333333;
}

#logo {
    display: inline;
    float: left;
    width: 155px;
    text-decoration: none;
}

#icon {
    width: 40px;
    float: left;
}

#logoName {
    line-height: 0;
    margin-left: 50px;
    color: #333333;
}

.navbarItem {
    display: inline;
    float: right;
    margin-right: 20px;
    color: #333333;
    text-decoration: none;
}

.navbarItem:active {
    color: #C91532;
}

.navbarText {
    color: #333333;
    text-decoration: none;
}

.navbarText:active {
    color: #C91532;
}

.hompageText {
    position: absolute;
    top: 18vh;
    height: 82vh;
    margin-left: 30px;
    width: 370px
}

#map {
    width: 370px;
    height: auto;
}