body {
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
}

/* navbar */

#placeNavbar {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    padding-top: 10px;
    margin-bottom: 20px;
    z-index: 10;
}

.navbar {
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    font-size: 18px;
}

.navbarText {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.navbarText:hover {
    color: #C91532;
}

hr {
    border: 1px solid #333333;
    background-color: #333333;
}

.logo {
    color: #333333;
    text-decoration: none;
    float: left;
}

.logoName {
    color: #333333;
    text-decoration: none;
    line-height: 0;
    margin-left: 50px;
}

.navbarList {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: right;
}

.navbarItem {
    margin-left: 20px;
    color: #333333;
    text-decoration: none;
    list-style-type: none;
}
.navbarItem:hover {
    color: #C91532;
}

.en :lang(no) {
    display: none;
}

.no :lang(en) {
    display: none;
}

/* homepage */

/* for mobile devices */

@media only screen and (max-width: 380px) {
    .navbar {
        width: 90vw !important;
    }
    #alignContent {
        width: 90vw !important;
    }
    .col {
        width: 95% !important;
        height: fit-content !important;
    }
    .isOpen {
        width: 40vw !important;
        padding: 10px;
    }
    #openCol {
        position: absolute;
        top: 115px;
        left: 45% !important;
        width: fit-content!important;
        margin: 0 !important;
    }
    #homepageText {
        margin-top: 40px;
    }
    #map {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 381px) and (max-width: 600px) {
    .navbar {
        width: 90vw !important;
    }
    #alignContent {
        width: 95vw !important;
    }
    .col {
        width: 95% !important;
        height: fit-content !important;
    }
    .isOpen {
        width: 35vw !important;
        max-width: 180px !important;
        padding: 10px;
    }
    #openCol {
        position: absolute;
        top: 115px;
        right: 10%;
        width: fit-content!important;
        margin: 0 0 0 15% !important;
    }
    #homepageText {
        margin-top: 70px;
    }
    #map {
        margin-left: auto;
        margin-right: auto;
    }
}

.paragraph {
    font-size: 20px;
}

#alignContent {
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
}

.col {
    float: left;
    width: 40vw;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.leftCol {
    margin-right: 5vw;
}

#homepageText {
    padding-right: 5%;
}

#map {
    width: 90%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.isOpen {
    width: 70%;
    max-width: 300px;
    transform: rotate(-10deg);
    margin: auto;
}

.foodSuggestion {
    border: 2px solid #333333;
    border-radius: 10px;
    float: right;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
}

.foodSuggestion:hover {
    border-color: #C91532;
}

.foodItem {
    float: left;
    width: fit-content;
    max-width: 50%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#foodDescription {
    margin-top: 0;
    margin-left: 2px;
    line-height: 1em;
    max-height: 3em;
    overflow: hidden;
}

#foodImage {
    width: 100px;
    margin: 5px;
    border-radius: 15px;
    border: 1px solid #C91532;
}

#foodName {
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 2px;
}

input {
    background: #C4C4C4;
    font-size: 20px;
    border: 0;
}

textarea {
    background: #C4C4C4;
    font-size: 20px;
    border: 0;
    resize: none;
}

button {
    width: 100px;
    height: 60px;
    border-radius: 15px;
    font-size: 20px;
    color: #f2f2f2;
    background: #C91532;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

button:hover {
    border: 2px solid #333333;
}

::placeholder {
    color: #333333;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #C4C4C4 inset !important;
}

/* Contact Us */

.vl {
    border-left: 3px solid #333333;
    height: 100%
}

form {
    display: inline-block;
}

.half {
    width: 45%;
}

.full {
    width: 92%;
}

#contact_header {
    width: fit-content;
    margin-left: 0;
    margin-right: 0 !important;
}

#contact_form {
    width: fit-content;
}

.contact {
    width: fit-content;
}

.location {
    margin-left: 1vw;
}

.location p {
    margin-top: 0;
    font-size: 20px;
}

/* About us */

.aboutPicture {
    display: inline-block
}

.aboutSection h2, .aboutSection p {
    width: 40%;
    display: inline-block;
}

.aboutSection h2 {
    margin-left: 9%;
    float: inline-start;
}

.pictureSection {
    margin: 3% auto 5% 9%;
}

.aboutImg {
    transition: transform .5s;
    cursor: pointer;
}

.aboutImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-height: 70%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* Modal content (not image) */
.modal-content2 {
    background-color: #C4C4C4;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

.col1 {
    float: left;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    width: 39vw;
}

.col2 {
    float: right;
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    width: 39vw;
}