/* Menu classes */
.menu {
}

.menuItem {
    display: flex;
    clear: both;
    margin-bottom: 20px;
    width: 100%;
}

.itemInfo {
    margin-left: 2%;
    width: 55%;
}

.itemName {
    line-height: 0;
    margin-top: 15px;
    white-space: nowrap;
}

.itemDescription {

}

.itemPrice {
    color: #C91532;
}

.alignPriceAndAllergies {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    line-height: 0;
}


.itemAllergies {
    display: flex;
    list-style: none;
    float: right;
    margin-inline-start: 0 !important;
    padding-inline-start: 5% !important;
}

.itemAllergies li::before {
    content: '\2022';
    margin-right: 5px;
    margin-left: 10px;
    font-size: 60px;
    vertical-align: middle;
}


.itemAllergyE {

}

.itemAllergyE::before {
    color: #d64e65;
}

.itemAllergyM {

}

.itemAllergyM::before {
    color: rgb(106, 230, 230);
}

.itemAllergyW, .itemAllergyH {

}

.itemAllergyW::before, .itemAllergyH::before {
    color: rgb(224, 153, 87);
}

.itemAllergyS {

}

.itemAllergyS::before {
    color: rgb(116, 25, 158);
}

.li span {
    color: #333333;
    font-size: 18px;
}

.itemImageFull {
    width: 20%;
    height: fit-content;
    border: 3px solid #C91532;
    border-radius: 15px;
}

.itemImageOrder {
    width: 10%;
    height: fit-content;
    border: 3px solid #C91532;
    border-radius: 15px;

}

.itemImageReceipt {

}

.row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    width: 25%;
}

.countCol {
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    max-width: 170px;
}

.itemAdd {
    border: 2px solid #C91532;
    border-radius: 15px;
    background-color: #C91532;
    color: #f2f2f2;
    text-align: center;
    width: 80px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}

.itemAdd:hover {
    border: 2px solid #333333;
}

.itemCount {

}

.itemCountText {
    width: fit-content;
    white-space: nowrap;
    text-align: center;
}

.itemCountBox {
    border: 3px solid #C91532;
    border-radius: 15px;
    background-color: #C91532;
    color: #f2f2f2;
    text-align: center;
    width: 80px;
    height: 55px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.countCol2 {
    float: left;
}

.itemCount {
    width: 23%;
    max-width: 86px;
    height: 55px;
    padding: 2px;
    font-size: 20px;
    border: 1px solid #C91532;
    border-radius: 15px;
    background-color: #C91532;
    color: #f2f2f2;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemCount:hover {
    border: 2px solid #333333;
    padding: 1px;
}

.up {
    margin-left: 5px;
}

.down {
    margin-right: 5px;
}

body {
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
}

#menu {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#orderButton {
    width: 50%;
    display: flex;
    position: relative;
    font-size: 24px;
    vertical-align: center;
}

#orderPrice {
    position: fixed;
    left: 2vh;
    margin-top: 10px;
    text-decoration: underline;
    vertical-align: middle;
    display: flex;
}

#orderNextPage {
    position: fixed;
    right: 2vh;
    margin-top: 10px;
    vertical-align: middle;
    display: flex;
}

@media only screen and (max-width: 570px) {
    .itemName {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .itemInfo {
        width: 70%;
    }

    .itemAdd {
        width: 65px !important;
        height: 30px !important;
        margin-top: 10px;
    }

    .itemCountBox {
        width: 65px !important;
        height: 35px !important;
        margin-top: 5px;
    }

    .itemCountText {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .itemCount {
        height: 35px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .itemCount {
        height: 35px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row {
        width: 60%;
        margin-bottom: 5px;
        margin-left: 22%;
    }

    .itemPrice {
        font-size: 20px;
    }

    .itemDescription {
        margin: 0;
    }

    .menuItem {
        flex-wrap: wrap;
        border: 1.5px solid #C91532;
        border-radius: 15px;
    }

    .itemImageFull {
        border: none !important;
        border-radius: 15px;
    }

    .itemAllergies li::before {
        margin-left: 5px;
    }

    #orderButton {
        font-size: 20px
    }
}